<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="15.3.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.3.0" targetFramework="net461" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.0.19" targetFramework="net461" />
</packages>